form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 50px;
}

div {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
